include include/close_dynamic.pug
.margin
    h2 Dynamic Object DataBase (dodb)
    span  Acabando para la release
    h3 M贸dulo de gesti贸n de base de datos
    p.
        DODB es un ORM de Node.js basado en promesas para MySQL,
        sin necesidad de definir un modelo previo de la estructura 
        de las tablas definida en el motor de BBDD
        como se realiza en Sequelize.
    p.
        Dispone de un administrado de validaci贸n de atributos, 
        tanto si esta definido en la base de 
        datos como la tipologia del propio dato dato; detectando mediante 
        el nombre del atributo si es por ejemplo un corre electr贸nico.
    a(href="https://www.npmjs.com/package/dodb" target="_blank" class="btn-link") Ver m贸dulo
    h3 Como funciona el modulo
    pre
        code.language-typescript.
            import dodb from 'dodb'

            (async ()=>{

                let { user } = await dodb()

                let params =
                {
                    name:'Sergio',
                    surname:'Gonz谩lez',
                    email:'sgonzalez@jscode.es'
                }
                
                // A帽adir un usuario
                let data = await user.add(params)

            })()

            // OR

            dodb().then(async({user})=>
            {   
                let params =
                {
                    name:'Sergio',
                    surname:'Gonz谩lez',
                    email:'sgonzalez@jscode.es'
                }
                
                // A帽adir un usuario
                let data = await user.add(params)

            })