include include/close_dynamic.pug
.margin
    h2 Contactas para#[br]obtener información
    p.
        Si necesita información, consejo o asesoramiento, simplemente 
        rellene el formulario o directamente al correo electronico 
        (sgonzalez@jscode.es) y en breve contactaré contigo.
        Un saludo 🖐
    form
        label(for="name") Nombre
        input(type="text", name="name")
        label(for="subject") Asunto
        input(type="text", name="subject")
        label(for="msn") Mensaje
        textarea(name="msn", cols="30", rows="10")
        button(type="submit" class="btn-link") Envia tu mensaje
        .info-form Info aqui del estado del formulario