include include/close_dynamic.pug
.margin
    h2 Contactas para obtener información
    p.
        Ex vix libris similique, ad paulo mandamus per. Tale s
        oluta cetero mel ne, everti petentium sed an, minimum p
        erpetua senserit id mea. Vel offendit scribentur ut. A
        n luptatum iracundia vulputate pro.