include include/close_dynamic.pug
.margin
    h2 Revolucionando#[br]el sector farmacéutico
    h3 Etiquetado electrónico de Farmaconnect
    p.
        La principal tarea que obtuve al acceder a trabajar 
        para Farmaconnect fue refactoriar código de #[b sincroncización de productos] de los ERP de los clientes.
    div.img_article(style="background:url(https://mindconsole.net/wp-content/uploads/2018/10/07.jpg);background-size: cover;")
    p.
        Vimos un mercado en expansión gracias al etiquetado electronico.
        Después de muchos fracasos, creamos un sistema basado en la nube 
        para que nuestros clientes gestionaran su estiquetado eletronico 
        desde cualquier lugar. Para ello montamos un sistema en Node JS con 
        conexiones en tiempo real.
    p.
        Al conseguir nuestro objetivo principal, mediante el sistema de promociones,
        expandimos estas a distinto tipo de dispositivo, como pantallas de publicidad,
        redes sociales y en la misma etiquetas.
    //-div.img_article(style="background:url(./img/farmacia.jpg);background-size: cover;background-position: center;")