include include/close_dynamic.pug
.margin
    h2 Streaming de programación
    h3 Nec no comprehensam mediocritatem, nostrum puaerendum eu vix.
    p.
        Lorem ipsum dolor sit amet, his quot singulis no, debiti
        s corpora voluptaria ex has. Ex pro minim populo post
        ea, eos id ferri splendide disputando. Nonumes maio
        rum ius at, cum id invidunt sensibus. Regione patrio
        que mel te. Movet indoctum periculis eu mel, has ut sa
        lutandi patrioque necessitatibus. Novum fastidii cons
        equat ex duo. Nec te ludus noster blandit.
    p.
        Ex vix libris similique, ad paulo mandamus per. Tale s
        oluta cetero mel ne, everti petentium sed an, minimum p
        erpetua senserit id mea. Vel offendit scribentur ut. A
        n luptatum iracundia vulputate pro.
    p.
        Nec no comprehensam mediocritatem, nostrum periculis q
        uaerendum eu vix. Atqui detracto et pro. Mollis option 
        vix ad, quo cu error pertinax. Ex nec omnes quodsi 
        utroque. Pri an facete doctus contentiones, vitae insolens omittantur id pri, eos rebum animal ne.
    p.
        Cu duo aliquid expetenda. Nam eius movet dicit et, s
        it minim nominati repudiare ex, qui nemore sententi
        ae efficiendi at. Et movet verear eripuit sea. Vel e
        t timeam laoreet tibique. Cu mel nulla bonorum molestiae,
         has molestie mediocrem eu. Ea dicit semper perfecto nam, his quem mundi ne.
    p.
        Est ad dolore diceret eleifend, graece platonem et es
        t, populo nostrud nusquam in has. Vis in quidam detraxi
        t adipiscing, cetero honestatis ut cum, atqui scripta fab
        ellas his id. No congue verear scriptorem eum, per id quem qu
        ando postulant, eos graeco maiestatis at. In mea movet dolorum
        , at mea epicuri delicata periculis. No nec lorem libris percipit
        , malis minimum ut has.