include include/close_dynamic.pug
.margin
    h2 Streaming#[br] de programación
    h3 El trabajo de un desarrollador en su día a día
    p.
        Cada día que paso de vida, estoy #[b tecleando código], por ello 
        me encanta poder ayudar ha qente a conocer este mundo
        de locos.
    div.img_article(style="background:url(./img/twitch.png);background-size: cover; background-position: center;")
    p.
        Por tanto decidí crear un canal donde la gente puede 
        recibir respuesta de cuestiones complejas de la progamación,
        sistemas, deploys, etc...
    a(href="https://www.twitch.tv/jscode_" target="_blank" class="btn-link") Ir a Twitch