.row
	.col.img_profiler(style="background: url(./img/viaje_tokyo.jpg); background-size: cover;background-position: center; filter: contrast(0.7);")
	.col.content
		.center
			.page
				small Sergio González
				h1 Diseñador.
				h1 Programador.
				h1 Técnico.
				.social
					a(href="")
						i(class="fab fa-twitch")
					a(href="")
						i(class="fab fa-instagram")
					a(href="")
						i(class="fab fa-github")
					a(href="")
						i(class="fab fa-youtube")
					a(href="")
						i(class="far fa-envelope")
				p.
					Desde siempre me ha gustado ayudar a la gente
					con mis habilidades y mejorar la calidad de vida,
					#[b desarrollando herramientas] que faciliten el día a día 
					de la personas con menos recursos. Programar me ha dado el instrumental
					 y conocimiento necesarios para reforzar esas debilidades.
				h3 Proyectos
				.group-block
					block-info(title="Farmaconnect", desc="Desarrollo de etiquetas electrónicas y marqueting digital",img="etiquetas.png", action="")
					block-info(title="Canal Twitch", desc="Enseñanzas de programación en directol",img="directos.png", action="")
					block-info(title="Modulo DODB", desc="Gestión de Base de datos para #[b Node JS]",img="npm.png", action="")