.row
	.col.img_profiler
	.col.content
		.center
			.page
				small Sergio González
				h1 Diseñador.
				h1 Programador.
				h1 Técnico.
				.social
					a(href="")
						i(class="fab fa-twitch")
					a(href="")
						i(class="fab fa-instagram")
					a(href="")
						i(class="fab fa-github")
					a(href="")
						i(class="fab fa-youtube")
					a(href="")
						i(class="far fa-envelope")
				p.
					Split is the first template made in collaboration with S
					uper & One Page Love. It runs completely on Notion. It co
					mes with an alternative flipped layout, and includes light & dar
					theme variations. You can duplicate this template for free here.
				h3 Proyectos
				.group-block 
					a.block
						.img
						.title Farmaconnect
						.desc Desarrollo de etiquetas electrónicas y marqueting digital
					a.block
						.img
						.title Canal Twitch
						.desc Enseñanzas de programación en directo
					a.block
						.img
						.title Modulo DODB
						.desc Gestión de Base de datos para #[b Node JS]