body
{
    font-family: Inter,Helvetica,Apple Color Emoji,Segoe UI Emoji,NotoColorEmoji,Noto Color Emoji,Segoe UI Symbol,Android Emoji,EmojiSymbols,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Noto Sans,sans-serif;
    margin: 0;
    padding: 0;
    background: white;
    position: fixed;
    width: 100%;
    height: 100%;
}

.row
{
    display: flex;
    justify-content: space-between;
    height: 100%;

    & .col
    {
        width: 100%;

        &.img_profiler
        {
            background-color: darkgrey;
        }

        &.content
        {
            display: flex;
            align-items: center;
            justify-content: center;

            & .center
            {
                width: calc(100% - 100px);
                height: calc(100% - 100px);
                display: flex;
                align-items: center;
            }
        }

    }
}

small
{
    text-transform: uppercase;
    font-weight: 700;
    text-rendering: optimizeSpeed;
    color: #6d6969;
}

h1
{
    font-size: 6vw;
    line-height: 1vw;
}

p{
    font-size: 1.5vw;
    color: #250740;
}

.social
{
    & a{
        color: #551a8b;
        margin-right: 15px;
        font-size: 3vw;
    }
}


.group-block 
{
    display: flex;
    justify-content: space-between;

    & .block
    {
        width: 13vw;

        & .img
        {
            background: #cecece;
            width: 13vw;
            height: 13vw;
            border-radius: 10px;
            margin-bottom: 1vh;
        }

        & .title
        {
            font-weight: 700;
            font-size: 1.5vw;
        }

        & .desc
        {
            color: #250740;
        }
    }
}