@media (min-width: 1400px) 
{
    ////////////////////
    // LAYOUT
    ////////////////////

    .row .col.content .center {
        width: calc(100% - 150px);
        height: calc(100% - 150px);
    }

    ////////////////////
    // STYLE
    ////////////////////

    h1
    {
        font-size: 80px;
        line-height: 15px;
    }

    p{  font-size: 18px; }

    .social a { font-size: 40px; }

    ////////////////////
    // COMPONENTS
    ////////////////////

    .group-block {

        & block-info {

            width: 180px;

            & .block {

                width: 180px;

                & .img {
            
                    width: 170px;
                    height: 170px;
                }
            }
        }
    }

}

@media (max-width: 1100px) 
{
    .col.img_profiler {
        width: 50%;
    }
    
}

@media (max-width: 890px) 
{
    .only_mobile
    {
        display: block;
    }

    .col.content
    {
        height: 100%;
    }

    .col.img_profiler {
      display: none;
    }

    .row {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: space-between;
    }

    p {
        font-size: 3.5vw;
        max-width: 100%;
    }

    .social a {
        font-size: 38px;
    }

    h1 {
        font-size: 10vw;
        line-height: 1.5vw;
    }

    .margin {
        margin: 30px 25px;
    }

    .group-block block-info .block {
        width: 25vw;
    }

    .group-block block-info .block .img {
        width: 25vw;
        height: 25vw;
    }

    .group-block block-info .block .desc {
        display: none;
    }

    .group-block block-info .block .title {
        font-size: 3.2vw;
        text-align: center;
    }

    .row .col.content .center {
        width: calc(100% - 69px);
    }

    form [type=text], form textarea {
        width: calc(100% - 20px);
        max-width: 100%;
    }

    .info-form {
        position: fixed;
        top:-30px;
        left: 0;
        border-radius: 0;
        text-align: center;
    }
    
    h2 {
        margin-bottom: 10px;
    }

    .dark_mode {
        top: 15px;
        left: 35px;
    }
    
}