small
{
    text-transform: uppercase;
    font-weight: 700;
    text-rendering: optimizeSpeed;
    color: #6d6969;
    transition: 0s;
    position: relative;
    opacity: 0;
    top: -25px;

    &.animate
    {
        transition: ease .5s;
        top: 0px;
        opacity: 1;
    }
}

h1
{
    font-size: 6vw;
    line-height: 1vw;
    left: -200px;
    position: relative;
    opacity: 0;
    transition: 0s;

    &.animate
    {
        transition: ease .5s;
        left: 0px;
        opacity: 1;
    }
}

h2
{
    font-size: 40px;
    margin-top: 55px;
}

p{
    font-size: 1.5vw;
    color: #250740;
    max-width: 600px;
}



.social
{
    & a{
        color: #551a8b;
        margin-right: 10px;
        font-size: 3vw;
        width: 40px;
        height: 35px;
        display: inline-flex;
        position: relative;

        &.mr-16
        {
            margin-right: 16px !important;
        }

        & i {
            transition-property: transform;
            transition: 0.2s;
            transform: scale(1);
            position: absolute;
            width: 100%;
            text-align: center;
            font-size: 100%;
        }

        &:hover i
        {
            transform: scale(1.2);
        }
    }
}


.hljs {
    background: #2d2c2c;
    color: #dedede;
    border-radius: 10px;
}

.hljs-attribute, 
.hljs-doctag, 
.hljs-keyword, 
.hljs-meta 
.hljs-keyword, 
.hljs-name, 
.hljs-selector-tag {

    color: #e91e63;
}

.hljs-deletion, 
.hljs-number, 
.hljs-quote, 
.hljs-selector-class, 
.hljs-selector-id, 
.hljs-string, 
.hljs-template-tag, 
.hljs-type {
    color: #8bc34a;
}

.hljs-section, 
.hljs-title {
    color: #3b8cce;
}

.btn-link
{
    background: #2196f3;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
    border-radius: 5px;
    color: white;
    outline: none;
    border: none;
    font-size: 15px;

    &:hover
    {
        cursor: pointer;
        background: #1576c3;
    }

}

form
{
    & label
    {
        
        display: block;

    }

    & [type="text"],
    & textarea
    {
        width: 100%;
        max-width: 600px;
        padding: 5px;
        border-radius: 5px;
        border: solid 1px #c5c5c5;
        margin-bottom: 20px;
    }

    & [type="submit"]
    {
        margin-bottom: 20px;   
    }
}

label {
    display: block;
    margin-bottom: 5px;
    color: #757171;
}

.info-form
{
    background: #d8d4d4;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    max-width: 600px;
    opacity: 0;
    transition: .5s;
    top: 30px;
    position: relative;


    &.success
    {
        background: #009688;
        color: white;
        top: 0px;
        opacity: 1;
    }

    &.error
    { 
        background: #e91e63;
        color: white;
        top: 0px;
        opacity: 1;
    }
}

.web_judgment {
    position: absolute;
    background: #3f51b5;
    top: 39px;
    transform: rotate(37deg);
    right: -85px;
    padding: 20px 77px;
    width: 182px;
    text-align: center;
    color: white;
    font-size: 12px;
}

